.main {
  display: flex;
  justify-content: center;
  background: #FAFAFA;
}
.main__content {
  width: 100%;
  max-width: 935px;
  padding-top: 30px;
}
.main__content_left {
  width: 100%;
  max-width: 614px;
  margin-right: 28px;
}
.story__box {
  height: 118px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.story__box-content {
  width: 100%;
  height: 84px;
  padding-left: 20px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}
.story {
  width: 66px;
  height: 66px;
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story__content {
  width: 60px;
  height:60px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story__content .story__figure {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: inset 0 0 0px 8px rgba(255, 16, 16, 0.45);
}
.story__box-content ul {
  display: flex;
  position:relative;
}
.story__box-content ul li{
  width: 80px;
  cursor: pointer;
}
.story__box-content ul .arrow {
  align-items: center;
  display: flex;
  position: absolute;
  left: 87%;
  top: 20px;
  cursor: pointer;
}